body{
    background: rgb(2,0,36);
    background: linear-gradient(54deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 6%, rgba(0,212,255,1) 65%);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    font-family: 'Montserrat';
}

#header{
    background-color: #E6E6FA;
    padding-top: 10px;
    margin: 20px;
    border-radius: 5px;
    padding-bottom: 20px;
}

#heading{
    padding-left: 40%;
    color: black;
    font-weight: bold;
}

#topbar{
    display: flex;
    padding: 20px;
}

#search{
    width: 70%;
    margin-left: 100px;
}

#src-input{
    width: 80%;
    border: none;
    border-radius: 2px;
    height: 30px;
}

#src-btn{
    border: none;
    border-radius: 2px;
    height: 30px;
    background-color: blue;
    color: white;
    width: 10%;
    font-size: 15px;
}

#sort{
    border: none;
    border-radius: 2px;
    width: 40%;
    height: 30px;
}

.table thead{
    background-color: blue;
    color: white;
}

#content{
    margin: 20px;
    border-radius: 10px;
}